nodered/flows.json
[{"id":"d7a0c709cc0db461","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"810e2ac4441a18c2","type":"mqtt out","z":"d7a0c709cc0db461","name":"","topic":"","qos":"","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c21185daf69e7573","x":550,"y":600,"wires":[]},{"id":"dd6ff0820cfb9890","type":"function","z":"d7a0c709cc0db461","name":"function 1","func":"\nconst HAtopic = \"PM/homeassistant/\";\nvar projects = [\n    {\n        \"name\":\"all\",\n        \"group\":\"all\",\n        \"rgb\":\"true\",\n        \"deviceType\":\"light\"\n    },\n    {\n        \"name\":\"Lannootree\",\n        \"group\":\"Lannootree\",\n        \"rgb\":\"true\",\n        \"effects\":[\n            \"1. RUNNING PIKACHU\",\n            \"2. VIVES\",\n            \"3. QATAR\",\n            \"4. DIK VET KONIJN MOVIE\",\n            \"5. DONALD TRUMP\",\n            \"6. HOMER 420\",\n            \"7. BANANA\",\n            \"8. SILLEVL\",\n            \"9. DONKERE KERSTBOOM\",\n            \"11. SHOCKED MONKEY\",\n            \"12. ACCIDENTAL CODER\",\n            \"13. ALIEN\",\n            \"14. AMOGUS\",\n            \"15. BAD APPLE\",\n            \"16. O'BALLENBOOM\",\n            \"17. CASH\",\n            \"18. BIJEN\",\n            \"19. COLORWHEEL\",\n            \"20. HOMER\",\n            \"21. DIAMONDS\",\n            \"22. HOMER DONUT\",\n            \"23. KAARS\",\n            \"24. KIRBY\",\n            \"26. THE LION KING\",\n            \"27. TEAM LANNOOTREE\",\n            \"28. NEON\",\n            \"29. PIKACHU\",\n            \"30. POES\",\n            \"31. PRISMARINE\",\n            \"32. RICARDO WHIP\",\n            \"33. RICK\",\n            \"35. DANCING SANTA\",\n            \"36. SANTA'S EYES\",\n            \"37. SINT\",\n            \"38. SPINNING TREE\",\n            \"39. SPONGEBOB\",\n            \"40. STAR\",\n            \"41. SHOWER\",\n            \"42. TF2 ENGINEER\",\n            \"43. ???\",\n            \"44. EO-ICT VIVES\"\n        ],\n        \"deviceType\":\"light\"\n    },{\n        \"name\":\"MLT1\",\n        \"group\":\"MLT\",\n        \"deviceType\":\"light\",\n        \"rgb\":\"true\"\n    },{\n        \"name\":\"MLT2\",\n        \"group\":\"MLT\",\n        \"deviceType\":\"light\",\n        \"rgb\":\"true\"\n    },{\n        \"name\":\"MLT3\",\n        \"group\":\"MLT\",\n        \"deviceType\":\"light\",\n        \"rgb\":\"true\"\n    },{\n        \"name\":\"58CF79E29ABC\",\n        \"group\":\"EOMarkers\",\n        \"deviceType\":\"light\",\n        \"rgb\":\"true\"\n    },{\n        \"name\":\"58CF79E37FA4\",\n        \"group\":\"EOMarkers\",\n        \"deviceType\":\"light\",\n        \"rgb\":\"true\"\n    },{\n        \"name\":\"58CF79E2C6C4\",\n        \"group\":\"EOMarkers\",\n        \"deviceType\":\"light\",\n        \"rgb\":\"true\"\n    },{\n        \"name\": \"1091A8F10F7C\",\n        \"group\": \"EOMarkers\",\n        \"deviceType\": \"light\",\n        \"rgb\": \"true\"\n    },{\n        \"name\":\"DL\",\n        \"group\":\"DL\",\n        \"deviceType\":\"light\",\n        \"rgb\":\"true\"\n    },{\n        \"name\":\"RL\",\n        \"group\":\"RL\",\n        \"deviceType\":\"light\",\n        \"rgb\":\"true\"\n    },{\n        \"name\":\"Aurora\",\n        \"group\":\"Aurora\",\n        \"deviceType\":\"light\",\n        \"rgb\":\"true\"\n    }\n    ];\n\n\nfunction topicBuilder(deviceType, name) {\n    return HAtopic + deviceType + \"/\" + name + \"/config\";\n}\n\n// Function to build the payload for each project\nfunction payloadBuilder(project) {\n    return {\n        \"effect_list\": project.effects,\n        \"name\": project.name,\n        \"command_topic\": \"PM/\" + project.group + \"/\" + project.name + \"/command\",\n        \"rgb_command_topic\": \"PM/\" + project.group + \"/\" + project.name + \"/rgb\",\n        \"effect_command_topic\": \"PM/\" + project.group + \"/\" + project.name + \"/effect\",\n        \"brightness_command_topic\": \"PM/\" + project.group + \"/\" + project.name + \"/brightness\",\n        \"schema\": project.schema\n    };\n}\n\nfunction JSONPayloadBuilder(project) {\n    return {\n        \"rgb_command_topic\": \"PM/\" + project.group + \"/\" + project.name + \"/rgb\",\n        \"color_mode\": project.rgb,\n        \"commandTopic\": \"PM/\" + project.group + \"/\" + project.name + \"/command\",\n        \"name\": project.name,\n        \"schema\":\"JSON\"\n    };\n}\n\nvar outputMsgs = [];\n\nfor (var deviceId in projects) {\n    var project = projects[deviceId];\n    var deviceType = project.deviceType;\n    var schema = project.schema;\n    var payload = {};\n    var topic = topicBuilder(deviceType, project.name);\n    if (schema == \"JSON\") {\n        payload = JSONPayloadBuilder(project);\n    } else {\n        payload = payloadBuilder(project);\n    }\n    var msg = {\n        topic: topic,\n        payload: payload\n    };\n    node.send(msg);\n}\n\nreturn ;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":600,"wires":[["810e2ac4441a18c2","32e9f29f1c9c0e3f"]]},{"id":"2a99344e7a886d8e","type":"function","z":"d7a0c709cc0db461","name":"function 2","func":"\n","outputs":1,"timeout":0,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nvar msg = {};\nreturn msg;","finalize":"","libs":[],"x":180,"y":520,"wires":[["dd6ff0820cfb9890"]]},{"id":"a6c7c86cf3b74660","type":"inject","z":"d7a0c709cc0db461","name":"start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"d","payloadType":"str","x":110,"y":600,"wires":[["dd6ff0820cfb9890"]]},{"id":"32e9f29f1c9c0e3f","type":"debug","z":"d7a0c709cc0db461","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":560,"y":700,"wires":[]},{"id":"6fe67a4bb1dce5dc","type":"debug","z":"d7a0c709cc0db461","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":740,"wires":[]},{"id":"c21185daf69e7573","type":"mqtt-broker","name":"","broker":"projectmaster.devbit.be","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]